    <!-- ABOUT -->
    <section  id = "about" class="about">
        <h4 class="intro"><strong> GRILL & CHILL </strong> opened in August 2018 and is located in Saket , New Delhi. We
            serve food and happiness. We have been recognised for serving best food in Delhi . The menu is inspired from
            different cuisine's specialties and will appeal to a wide and varied clientele.</h4>
        <div class="container details">
            <div class="row">
                <div class="col-sm">
                    <h5>PHONE <i class="fas fa-phone img"></i></h5>
                    <p>(120)796-1993</p>
                </div>
                <div class="col-sm">
                    <h5>LOCATION <i class="fas fa-thumbtack img"></i></h5>
                    <p>E-78 Saket dist.South Delhi in Delhi 11017 </p>
                </div>
                <div class="col-sm">
                    <h5> HOURS <i class="fas fa-clock img"></i></h5>
                    <p>

                        <li>MON-FRI 11A.M - 11P.M</li>
                        <li>SAT-SUN 10A.M - 11P.M</li>

                    </p>
                </div>
            </div>
        </div>
    </section>
        <!-- REVIEWS -->
        <section class="reviews">
            <div id="carouselExampleControls" class="carousel slide" data-ride="false">
                <div class="carousel-inner">
                    <h4 class="text"> <strong>REVIEWS and RATINGS</strong> </h4>
                    <div class="carousel-item active">
                        <h2 class="reviews-text">It's truly one of a kind restaurant.Though expensive, it's definitely worth
                            it.<br>⭐️⭐️⭐️
                        </h2>
                        <img class="reviews-image" src="img/juhi.png" alt="">
                        <em>Juhi Sharma </em>
    
                    </div>
                    <div class="carousel-item">
    
                        <h2 class="reviews-text">Love the wonderful ambience and food. The pasta and pastries are worth
                            dying.<br>⭐️⭐️⭐️⭐️</h2>
                        <img class="reviews-image" src="img/kriti.png" alt="">
                        <em>Kriti Kalra</em>
                    </div>
                    <div class="carousel-item">
    
                        <h2 class="reviews-text">Best Restaurant in Delhi which doesn't compromise on food
                            quality.<br>⭐️⭐️⭐️</h2>
                        <img class="reviews-image" src="img/eklavya.png" alt="">
                        <em>Eklavya Singh</em>
                    </div>
    
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>