<h5 id="contact">Contact Us</h5>
<form>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control change" placeholder="Name">
        </div>
        <div class="col">
            <input type="email" class="form-control" placeholder="xyz@gmail.com">
        </div>

    </div>
</form>
<form>
    <div class="form-group">
        <label for="exampleFormControlTextarea1"></label>
        <textarea class="form-control change" id="exampleFormControlTextarea1" rows="3" placeholder="any query/suggestion"></textarea>
      </div>
    </form>
      <form method="GET" action="/contacted">
      <button type="submit" class="btn btn-light cb">CONTACT</button>
    </form>
<!-- </form> -->
<footer id="last">
    <p>
        <a href="https://www.instagram.com"><i class="fab fa-instagram fa-2x"></i> </a>
        <a href="https://www.facebook.com"> <i class="fab fa-facebook fa-2x"></i> </a>
        <a href="https://www.twitter.com">  <i class="fab fa-twitter fa-2x"></i> </a>
        <a href="https://www.gmail.com">  <i class="fas fa-envelope-square fa-2x"></i> </a>
        </p>
    <p> Ⓒ Copyright 2018 <span id="grill"> Grill & Chill</span></p>
</footer>


</div>
</div>