<header class="header-img">
    <div class="title">
        <h1 class="content">Deliciousness jumping into the mouth.</h1>
        <h3 class="content1">Experience the great food.</h3>
    </div>
    <div>
        <form method="GET" action="/table">
            <button type="submit" class="btn btn-light reserve">RESERVE TABLE</button>
        </form>
        <a class="menu" href="/menu">BROWSE MENU</a>
    </div>
</header>
<section id="slide">
    <div class="row">
        <div class="col-lg-6 ">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <image class="testimonial-image" src="img/menu1.jpeg" alt="food">
                    </div>
                    <div class="carousel-item ">
                        <img class="testimonial-image" src="img/menu2.jpeg" alt="food">
                    </div>
                    <div class="carousel-item ">
                        <img class="testimonial-image"
                            src="https://images.pexels.com/photos/1586942/pexels-photo-1586942.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            alt="food">
                    </div>
                    <div class="carousel-item">
                        <img class="testimonial-image"
                            src="https://images.pexels.com/photos/1373915/pexels-photo-1373915.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                    </div>
                    <div class="carousel-item">

                        <img class="testimonial-image"
                            src="https://images.pexels.com/photos/2067396/pexels-photo-2067396.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                    </div>
                    <div class="carousel-item">

                        <img class="testimonial-image"
                            src="https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                    </div>

                    <div class="carousel-item">

                        <img class="testimonial-image"
                            src="https://images.pexels.com/photos/3780469/pexels-photo-3780469.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                    </div>

                    <div class="carousel-item">

                        <img class="testimonial-image"
                            src="https://images.pexels.com/photos/4457151/pexels-photo-4457151.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 ">
            <table>
                <tr>
                    <div id="carouselExampleSlidesOnly" class="carousel slide space" data-ride="carousel">
                        <div class="carousel-inner place">
                            <div class="carousel-item active">
                                <img src="https://images.pexels.com/photos/1581554/pexels-photo-1581554.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                    class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.pexels.com/photos/1639565/pexels-photo-1639565.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                    class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.pexels.com/photos/1679825/pexels-photo-1679825.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=5000"
                                    class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.pexels.com/photos/1566837/pexels-photo-1566837.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                    class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.pexels.com/photos/1267321/pexels-photo-1267321.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                    <!-- <img class=""
                    src="https://images.pexels.com/photos/1581554/pexels-photo-1581554.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"> -->
                </tr>
                <tr>
                    <p class="">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28031.61550760762!2d77.36459313955076!3d28.571205899999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cefeac3b88b71%3A0x387b112c9e288da7!2sGrill%20n%20Chill%20cafe!5e0!3m2!1sen!2sin!4v1606141834072!5m2!1sen!2sin"
                            width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </p>
                </tr>
            </table>
        </div>


    </div>


</section>


<footer id="last">
    <p>
        <a href="https://www.instagram.com"><i class="fab fa-instagram fa-2x"></i> </a>
        <a href="https://www.facebook.com"> <i class="fab fa-facebook fa-2x"></i> </a>
        <a href="https://www.twitter.com"> <i class="fab fa-twitter fa-2x"></i> </a>
        <a href="https://www.gmail.com"> <i class="fas fa-envelope-square fa-2x"></i> </a>
    </p>
    <p> Ⓒ Copyright 2018 <span id="grill"> Grill & Chill</span></p>
</footer>


<!-- <section id="slide">
    <div class="row">
        <div class="col-lg-6 ">
            <h5 id="reserve">Reservation</h5>
            <h1>BOOK A TABLE</h1>
            <form>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control change" placeholder="Name">
                    </div>
                    <div class="col">
                        <input type="email" class="form-control" placeholder="xyz@gmail.com">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control back" placeholder="Phone No.">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6 ">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h4 class="last">MENU CARD </h4>
                        <image class="testimonial-image" src="menu1.jpeg" alt="food">
                    </div>
                    <div class="carousel-item ">
                        <h4 class="last">MENU CARD </h4>
                        <img class="testimonial-image" src="menu2.jpeg" alt="food">
                    </div>
                    <div class="carousel-item ">
                        <h4 class="last">MENU CARD 👉🏻</h4>
                        <img class="testimonial-image"
                            src="https://images.pexels.com/photos/1586942/pexels-photo-1586942.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            alt="food">
                    </div>
                    <div class="carousel-item">
                        <h4 class="last">MENU CARD 👉🏻</h4>
                        <img class="testimonial-image"
                            src="https://images.pexels.com/photos/1373915/pexels-photo-1373915.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                    </div>
                    <div class="carousel-item">
                        <h4 class="last">MENU CARD 👉🏻</h4>
                        <img class="testimonial-image"
                            src="https://images.pexels.com/photos/2067396/pexels-photo-2067396.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                    </div>
                    <div class="carousel-item">
                        <h4 class="last">MENU CARD 👉🏻</h4>
                        <img class="testimonial-image"
                            src="https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                    </div>

                    <div class="carousel-item">
                        <h4 class="last">MENU CARD 👉🏻</h4>
                        <img class="testimonial-image"
                            src="https://images.pexels.com/photos/2474661/pexels-photo-2474661.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
                    </div>

                    <div class="carousel-item">
                        <h4 class="last">MENU CARD 👉🏻</h4>
                        <img class="testimonial-image"
                            src="https://images.pexels.com/photos/4457151/pexels-photo-4457151.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->



<!-- ABOUT -->