<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Thanks for your suggestion.</h1>
      <p class="lead">GRILL & CHILL always at your service.</p>
    </div>
  </div>