<div class="box">
<h1 id="confirm" > Reservation Confirmed</h1>
<br>
<h2>Hello, <%= user.name %> your reservation is Confirmed.</h2> 
<h3> Date : <%= user.date %> </h3>
<h3>Time : <%= user.time %> </h3>
<br>
<p>Grill & Chill welcomes you with an open heart <i class="fas fa-utensils " style=" color: #ba7967;"></i></p>
</div>
