<div class="alert alert-danger" role="alert">
  Table by this email-id is already reserved try using different id or contact restaurant
</div>
<form method="GET" action="/table"> 
  <button type="submit"  class="btn btn-outline-secondary notconfirm">RESERVE TABLE</button>
</form>
