<div>
    <h5 id="reserve"> Reservation</h5>
    <h1 class="heading">BOOK A TABLE</h1>
    <form method="POST" action="/table">
        <!-- <form> -->

        <div class="form-row">
            <div class="col">
                <input name="name" type="text" class="form-control change" placeholder="Name">
            </div>
            <div class="col">
                <input name="email" type="email" class="form-control" placeholder="xyz@gmail.com">
            </div>
            <div class="col">
                <input name="phone" type="number" class="form-control back" placeholder="Phone No.">
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col">
                <input name="date" type="date" class="form-control">
            </div>
            <div class="col">
                <input name="time" type="time" class="form-control">
            </div>
        </div>
</div>
<button type="submit" class="btn btn-light book">BOOK A TABLE</button>
</form>
</div>